
/*
	var  avatar
*/



body{
	max-width:1600px
}

nav{	
	z-index:3;
	width:300px;
}

header{	
	display:block;	
}
body,h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif
}

img{
	width:100%;
}

img.avatar{
	width:45%;
}
img.profile{
	width:65px;
}


li>img{
	width:50px;
}

.containerMain{
	margin-bottom: 1.5rem;
}

.main {
	margin-left:0px;
	transition: margin-left .4s;
}

.overlay {
	cursor:pointer;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

.opacity {
	animation: opac 0.8s;
}

.avatar {
	width:65px;
}

.sidebar {
	height: 100%;
	/*width: 200px;*/
	background-color: #fff;
	position: fixed !important;
	z-index: 3;
	overflow: auto;
}


/* MQ */
@media (min-width: 993px) { /*lg*/
	.sidebar.collapse {
	display: block !important;
	}
	.main{
		margin-left:300px;
	}
}

.hover:hover {
	color: #009688 !important;
}
.pointer:hover {
	cursor: pointer;
}

.hide {
	display: none;
}

.tag {
	background-color: #9e9e9e !important;
	color: #000;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	margin-right: 8px ;
}

.nodeco{
	text-decoration-line: none;
	list-style-type: none;
}


.postList li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd;
}

.postList li:last-child {
	border-bottom: none;
}

/* extention BTP */


.bg-clear{
	color: #000 !important;
	background-color: #fff !important;
}
/* Fonts Styles */
.italic{
	font-style: italic;
}