
/*
	var  avatar
*/



body{
	max-width:1600px
}

nav{	
	z-index:3;
	width:300px;
}

header{	
	display:block;	
}
body,h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif
}

img{
	width:100%;
}

img.avatar{
	width:45%;
}
img.profile{
	width:65px;
}


li>img{
	width:50px;
}

.main {
	margin-left:0px;
	transition: margin-left .4s;
}

.overlay {
	"cursor:pointer;
}

.avatar {
	width:65px;
}

.sidebar {
	height: 100%;
	/*width: 200px;*/
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto;
}


/* MQ */
@media (min-width: 993px) { /*lg*/
	.sidebar.collapse {
	display: block !important;
	}
	.main{
		margin-left:300px;
	}
}

.hover:hover {
	color: #009688 !important;
}

.hide {
	display: none;
}